*{
    margin: 0;
    padding: 0;
}


.container{
    background-color: #1a1a1b;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.header{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 12%;
    background-color: black;
    font-family: 'Poppins', sans-serif;
    color: white;
    font-size: 2.5rem;
}

.header p{
    cursor: pointer;
    border-bottom: 3px solid transparent;
}

.header p:hover{
    transition: 0.5s ease;
    border-bottom: 3px solid rgb(203, 152, 223);
}

.popModal button{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    border: 3px solid transparent;
    background-color: darkviolet;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 4.3rem;
    cursor: pointer;
}

.popModal button:hover{
    animation: spin-animation 1.5s ease;
    transition: 0.5s ease;
    border: 3px dotted rgb(255, 255, 255);
}

@keyframes spin-animation{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(359deg);
    }
}

.grid-container{
    overflow: overlay;
    display: grid;
    height: 100vh;
    width: 100vw;
    align-items: center;
    justify-content: center;
}

.popModal{
    display: grid;
    justify-content: center;
    align-items: center;
}

.book-cards{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    row-gap: 2rem;
    height: 70vh;
    width: 70vw;
}

.card{
    display: flex;
    flex-direction: column;
    width: 18rem;
    height: 25rem;
    background-color: #661350;
    border-radius: 1rem;
    margin-left: 2rem;

    display: none;

    align-items: center;
    justify-content: space-evenly;
    font-size: 1.3rem;
    color: rgb(0, 0, 0);
    font-family: 'Poppins', sans-serif;
}

.card p{
    color: gold;
}

.modal{
    background-color: #c131ff;
    position: fixed;
    top: 35%;
    left: 40%;
    width: 18%;
    display: flex;
    row-gap: 1rem;
    border-radius: 5rem;
    flex-direction: column;
    height: 40vh;
    justify-content: center;
    align-items: center;
    display: none;
    padding: 1rem;
    font-family: 'Poppins', sans-serif;
}

form{
    height: 35vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 20vw;
}

::placeholder{
    color: white;
    font-size: 1rem;
}

.modal p{
    font-size: 1.3rem;
    color: ghostwhite;
}

.modal input[type='checkbox']{
    width: 1.3rem;
}

.modal input[type='text'],
.modal input[type='number']{
    width: 50%;
    border: none;
    background-color: #c131ff;
    border-bottom: 3px solid white;
    font-family: 'Poppins', sans-serif;
    color: ghostwhite;
    outline: none;
    font-size: 1.2rem;
}


.read-or-not{
    display: flex;
    column-gap: 0.5rem;
    width: 100%;
    justify-content: center;
}

.close{
    width: 2rem;
    height: 2rem;
    background-color:ghostwhite;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    position: relative;
    top: 1rem;
    left: 35%;
    bottom: 15%;
    border: 3px solid transparent;
    font-size: 1.1rem;
}

.close:hover{
    transition: 0.5s ease;
    border: 3px solid gray;
}

.add{
    font-family: 'Poppins', sans-serif;
    padding: 1rem 3rem;
    border: none;
    border-radius: 10px;
    font-size: 1.3rem;
    cursor: pointer;
    border: 3px solid transparent;
}

.add:hover{
    transition: 0.5s ease;
    border: 3px solid gray;
}